/*
	vars
*/

$fonts: '../fonts/';
$images: '../images/';

// fonts
$DefEnFont: 'Noto Serif', sans-serif;
$DefJaFont: 'Sawarabi Gothic', sans-serif;
$UbFonts: 'Ubuntu', sans-serif;

$defFonts: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans",
YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;

$breakpoints: (
  phone-xs: 375px,
  phone: 768px,
  tablet: 992px,
  desktop: 1200px,
  desktop_lg: 1400px,
);

// wrap
$container-p: 10px;
$container-width: 1140px;
$container-md-width: 950px;

// colors
$white: #fff;
$black: #000;
$dGray:  #464646;

// transitions
$transition_dur: .5s;
$transition_tfn: cubic-bezier(.165,.84,.44,1);
