.title_post{
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Open Sans';
}
.i_hight-add{
    line-height: 70px !important;
}
.box-light-blue{
    overflow: hidden;
    background:rgba(113,209,245,.5);
    padding: 10px;
}
.box-light-blue .circle-border{
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 0;
    background-color:rgba(113,209,245,.5);
}
.image_soc_icon{
    display: block;
    margin: 0 auto;
    max-width: 50%;
}

