{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
                        <li class="active">Mail List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="ui-typography">
                <div class="row">
                    <div class="card col-lg-12">
                        <div class="card-header">
                            <strong class="card-title" v-if="headerText">Mails</strong>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-hover table-striped table-align-middle show-all-table mb-0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Send Date</th>
                                    <th>Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for message in messages %}

                                        <tr{% if message.isShow == false %} style="background-color: #9effab;"{% endif %}>
                                            <td>
                                                {{ message.name }}
                                                <br>
                                                <a href="{{ url('artist_admin_mail_show_current', {'id':message.id}) }}"><span class="fa fa-external-link-square" style="margin-right: 5px;"></span>Show Message</a>
                                            </td>
                                            <td>
                                                {{ message.email }}
                                            </td>
                                            <td>
                                                {{ message.createdAt|date('Y年n月j日') }}
                                            </td>
                                            <td class="edit-posts">
                                                <a href="{{ url('artist_admin_mail_delete_current', {'id':message.id}) }}"><span class="fa fa-trash-o"></span></a>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>

{% endblock %}