{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
                        <li class="active">Mail List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="ui-typography">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Card with switch</strong>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover table-striped table-align-middle show-all-table mb-0">
                                    <thead>
                                    <tr>
                                        <th style="width: 30%; text-align: left;">Field</th>
                                        <th style="text-align: left;">Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td style="width: 30%; text-align: left;">
                                                お名前
                                            </td>
                                            <td style="text-align: left;">
                                                {{ mailCurrent.name }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width: 30%; text-align: left;">
                                                電話番号
                                            </td>
                                            <td style="text-align: left;">
                                                {{ mailCurrent.phone }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width: 30%; text-align: left;">
                                                メールアドレス
                                            </td>
                                            <td style="text-align: left;">
                                                {{ mailCurrent.email }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width: 30%; text-align: left;">
                                                お問い合わせ内容
                                            </td>
                                            <td style="text-align: left;">
                                                {{ mailCurrent.text|nl2br }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width: 30%; text-align: left;">
                                                Date
                                            </td>
                                            <td style="text-align: left;">
                                                {{ mailCurrent.createdAt|date('Y年n月j日') }}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>

{% endblock %}