{% extends '@view.art/layouts/main_layout.html.twig' %}

{% block content %}


    <main class="main">
        <section class="form">
            <div class="container">
                <h2 class="section-title section-title_gray">お問い合わせ <span>Contact</span></h2>
                <div class="form__container">
                    <a href="mailto:chiho6890@yahoo.co.jp" class="mail-to">chiho6890@yahoo.co.jp</a>

                    {% set flash = app.flashes('mail') %}
                    {% if flash is not empty %}
                        {% for message in flash %}
                            <p class="top-profile_text">
                                {{ message }}
                            </p>
                        {% endfor %}
                    {% else %}
                        {{ include('@view.art/forms/send_mail_form.html.twig', {'form':mailForm}) }}
                    {% endif %}

                </div>
            </div>
        </section>
    </main>
    <div class="fader"></div>


{% endblock %}

