<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
	<!-- favicon -->
	<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
	<!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
	<title>Contact</title>
</head>
<body>
<div class="wrapper" id="wrapper">
	<%= _.template(require('./parts/header.html'))() %>
	<main class="main">
		<section class="form">
			<div class="container">
				<h2 class="section-title section-title_gray">お問い合わせ <span>Contact</span></h2>
				<div class="form__container">
					<a href="mailto:chiho6890@yahoo.co.jp" class="mail-to">chiho6890@yahoo.co.jp</a>
					<form action="">
						<div class="form__wrapper">
							<label for="name"><input type="text" name="name" id="name" placeholder="お名前"></label>
							<label for="phone-number"><input type="text" name="phone-number" id="phone-number"
								placeholder="電話番号"></label>
							<label for="email"><input type="email" name="email" id="email" placeholder="メールアドレス"></label>
							<textarea name="message" placeholder="お問い合わせ内容"></textarea>
							<div class="submit-wrapper">
								<button type="submit" class="def-btn">送信する</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</main>
	<%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
