<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
	<!-- favicon -->
	<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
	<!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
	<title>Gallery</title>
</head>
<body>
<div class="wrapper" id="wrapper">
	<%= _.template(require('./parts/header.html'))() %>
	<main class="main">
		<section class="gallery">
			<div class="container">
				<h2 class="section-title section-title_gray">ギャラリー <span>Gallery</span></h2>
				<div class="gallery__posts">
					<ul class="gallery__category-list">
						<li><a class="active" href="#">2013</a></li>
						<li><a href="#">2014</a></li>
						<li><a href="#">2015</a></li>
						<li><a href="#">2016</a></li>
					</ul>
					<div class="gallery__content">
						<div class="gallery__post">
							<div class="gallery__post_wrapper">
								<img src="images/post-01.jpg" alt="Post">
							</div>
							<p class="gallery__post_caption">登下校.2012.水干絵の具、アクリル絵の具、メディウム、和紙.F50号</p>
						</div>
						<div class="gallery__post">
							<div class="gallery__post_wrapper">
								<img src="images/post-02.jpg" alt="Post">
							</div>
							<p class="gallery__post_caption">登下校.2012.水干絵の具、アクリル絵の具、メディウム、和紙.F50号</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>


	<%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
