<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
	<!-- favicon -->
	<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
	<!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
	<title>Home</title>
</head>
<body>
<div class="wrapper" id="wrapper">
	<%= _.template(require('./parts/header.html'))() %>
	<section class="top-main"
					 data-sal-duration="1000"
					 data-sal="fade"
					 data-sal-delay="200"
					 data-sal-easing="ease-out-bounce">
		<div class="top-main_child">
			<p class="top-main__subtitle">Chiho Yonemushi</p>
			<h1 class="top-main__title">米蒸 千穂</h1>
		</div>
	</section>

	<section class="gallery-info"
					 data-sal-duration="1200"
					 data-sal="slide-up"
					 data-sal-delay="200"
					 data-sal-easing="ease-out-bounce">
		<div class="container">
			<div class="link-wrapper">
				<a href="#" class="gallery-info__link">To The Gallery <span class="arrow"></span></a>
			</div>
			<div class="gallery-info_item">
				<h2 class="section-title">お知らせ <span>Information</span></h2>
				<div class="container-md">
					<ul class="gallery-info__list">
						<li>
							<a href="#">
								<span class="date">2019年7月20日</span>
								グループ展のお知らせ
							</a>
						</li>
						<li>
							<a href="#">
								<span class="date">2019年7月20日</span>
								個展が無事終了致しました。
							</a>
						</li>
					</ul>
					<div class="link-wrapper">
						<a href="#" class="def-btn">一覧へ</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="top-profile"
					 data-sal-duration="1200"
					 data-sal="slide-up"
					 data-sal-delay="200"
					 data-sal-easing="ease-out-bounce">
		<div class="container">
			<h2 class="section-title">プロフィール <span>Profile</span></h2>
			<div class="container-md">
				<div class="top-profile__info">
					<div class="top-profile__info_item">
						<div class="top-profile__info_img-wrapper">
							<div class="top-profile__info_padding-hack">
								<img src="images/profile-01.jpg" alt="Profile">
							</div>
						</div>
						<div class="top-profile__info_text-wr">
							<p class="top-profile_text">
								米蒸 千穂  Chiho Yonemushi
							</p>
							<ul class="top-profile_list">
								<li>1984 埼玉県生まれ</li>
								<li>2002 私立自由の森学園高校卒業</li>
								<li>2006 明星大学日本文化学部造形芸術学科 日本画専攻卒業apper</li>
								<li>2008 早見芸術学園造形研究所日本画塾卒業</li>
							</ul>
						</div>
					</div>
					<div class="link-wrapper">
						<a href="#" class="def-btn def-btn_text-left">もっと見る</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="top-instagram">
		<div class="container">
			<h2 class="top-instagram__title"
					data-sal-duration="1500"
					data-sal="slide-up"
					data-sal-easing="ease-out-bounce">Instagram</h2>
			<div class="container-md">
				<ul class="instagram__list">
					<li data-sal-duration="1500"
							data-sal="slide-up"
							data-sal-delay="200"
							data-sal-easing="ease-out-bounce">
						<a href="#"><img src="images/rectangle.jpg" alt="1"></a>
					</li>
					<li data-sal-duration="1500"
							data-sal="slide-up"
							data-sal-delay="400"
							data-sal-easing="ease-out-bounce">
						<a href="#"><img src="images/rectangle.jpg" alt="2"></a>
					</li>
					<li data-sal-duration="1500"
							data-sal="slide-up"
							data-sal-delay="600"
							data-sal-easing="ease-out-bounce">
						<a href="#"><img src="images/rectangle.jpg" alt="3"></a>
					</li>
					<li data-sal-duration="1500"
							data-sal="slide-up"
							data-sal-delay="800"
							data-sal-easing="ease-out-bounce">
						<a href="#"><img src="images/rectangle.jpg" alt="4"></a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
