<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
	<!-- favicon -->
	<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
	<!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
	<title>Information</title>
</head>
<body>
<div class="wrapper" id="wrapper">
	<%= _.template(require('./parts/header.html'))() %>
	<main class="main">
		<section class="information">
			<div class="container">
				<div class="information__wrapper">
					<h2 class="section-title section-title_gray mb90">お知らせ <span>Information</span></h2>
					<div class="information__post">
						<h3 class="information__post_title">グループ展のお知らせ</h3>
						<p class="information__post_subtitle">2019年7月20日</p>
						<div class="information__post_content">
							<div class="information__post_img">
								<img src="images/post-test.jpg" alt="Post">
							</div>
							<div class="information__post_info">
								<p class="information__post_text">
									明日からグループ展に参加させて頂きます。
								</p>
								<p class="information__post_text">どうぞよろしくお願い致します。</p>
								<p class="information__post_text">
									会期<br>
									2019年7月13日（土） 〜 2019年7月25日（木）<br>
									※日曜・祝日はお休みとなります。<br>
									10:00〜18:00
								</p>
								<p class="information__post_text">
									会場<br>
									株式会社シバヤマ ギャラリー 2階<br>
									東京都台東区根岸2丁目 1-2 シバヤマビル
								</p>
								<p class="information__post_text">
									出品作家<br>
									鈴木強・青山美子・遠藤麻木子・及川みほ・大野麻子・加山貴雅・清見佳奈子 清水航・鶴巻謙郎・久富幸紀子・古屋麻里奈・丸山友紀・米蒸千穂<br>
									（敬称略・順不同）
								</p>
							</div>
						</div>
					</div>
					<div class="information__post_info">
						<p class="information__post_text">
							明日からグループ展に参加させて頂きます。
						</p>
						<p class="information__post_text">どうぞよろしくお願い致します。</p>
						<p class="information__post_text">
							会期<br>
							2019年7月13日（土） 〜 2019年7月25日（木）<br>
							※日曜・祝日はお休みとなります。<br>
							10:00〜18:00
						</p>
						<p class="information__post_text">
							会場<br>
							株式会社シバヤマ ギャラリー 2階<br>
							東京都台東区根岸2丁目 1-2 シバヤマビル
						</p>
						<p class="information__post_text">
							出品作家<br>
							鈴木強・青山美子・遠藤麻木子・及川みほ・大野麻子・加山貴雅・清見佳奈子 清水航・鶴巻謙郎・久富幸紀子・古屋麻里奈・丸山友紀・米蒸千穂<br>
							（敬称略・順不同）
						</p>
					</div>
					<div class="pagination">
						<ul class="pagination__list">
							<li><a href="#"></a></li>
							<li><a href="#">お知らせ一覧に戻る</a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</main>
	<%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
