<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
	<!-- favicon -->
	<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
	<!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
	<title>Information</title>
</head>
<body>
<div class="wrapper" id="wrapper">
	<%= _.template(require('./parts/header.html'))() %>
	<main class="main">
		<section class="information">
			<div class="container">
				<h2 class="section-title section-title_gray">お知らせ <span>Information</span></h2>
				<div class="container-md">
					<ul class="gallery-info__list">
						<li>
							<a href="#">
								<span class="date">2019年7月20日</span>
								グループ展のお知らせ
							</a>
						</li>
						<li>
							<a href="#">
								<span class="date">2019年7月20日</span>
								個展が無事終了致しました。
							</a>
						</li>
						<li>
							<a href="#">
								<span class="date">2019年7月20日</span>
								グループ展のお知らせ
							</a>
						</li>
						<li>
							<a href="#">
								<span class="date">2019年7月20日</span>
								個展が無事終了致しました。
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</main>
	<%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
