<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
	<meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- og format -->
	<meta property="og:title" content="">
	<!-- bar color -->
	<meta name="theme-color" content="#fff">
	<meta name="msapplication-navbutton-color" content="#fff">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fff">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
	<!-- favicon -->
	<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
	<!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
	<title>Profile</title>
</head>
<body>
<div class="wrapper" id="wrapper">
	<%= _.template(require('./parts/header.html'))() %>
	<main class="main">
		<section class="profile">
			<div class="container">
				<h2 class="section-title section-title_gray">プロフィール <span>Profile</span></h2>
				<div class="profile__info">
					<div class="profile__info_item">
						<h3 class="profile__info_title profile__info_title_lg">米蒸 千穂 Chiho Yonemushi</h3>
						<ul class="profile__info_list">
							<li><span class="date">1984</span><span>埼玉県生まれ</span></li>
							<li><span class="date">2002</span><span>私立自由の森学園高校卒業</span></li>
							<li><span class="date">2006</span><span>明星大学日本文化学部造形芸術学科 日本画専攻卒業</span></li>
							<li><span class="date">2008</span><span>早見芸術学園造形研究所日本画塾卒業</span></li>
						</ul>
					</div>
					<div class="profile__info_item">
						<h3 class="profile__info_title"> [展示]</h3>
						<ul class="profile__info_list">
							<li><span class="date">2005</span><span>青梅アートフェスティバル「膠と油展」（青梅）</span></li>
							<li>
								<span class="date">2006</span>
								<span>
								明星大学卒業制作展（大学内）<br>
								あしたとえ展（PROMO-ARTE 青山）<br>
								9th Contemporary Young Painters Exhibition From Japan（バンググラディシュ）<br>
								アジアの岐路展（中和ギャラリー 銀座）
							</span>
							</li>
							<li>
								<span class="date">2007</span>
								<span>
								早見芸術学園日本画塾12期生グループ展（鎌倉）<br>
								花まつり（ジェイトリップギャラリー 代官山）<br>
								MAY QUEENS（山脇ギャラリー）<br>
								Contemporary Artists 4（バングラディシュ）
							</span>
							</li>
							<li>
								<span class="date">2008</span>
								<span>
								早見芸術学園日本画塾12期生卒業制作展（LIVEandMORIS銀座）<br>
								漣の会 （藤沢さいか屋）以後2009、2010、2012参加<br>
								クリスマス会 （川崎さいか屋・銀座松坂屋）
							</span>
							</li>
							<li>
								<span class="date">2009</span>
								<span>
								青空でアート（泰明小学校）<br>
								クリスマス会（銀座松坂屋）
							</span>
							</li>
							<li><span class="date">2011</span><span>  If We Hold on Together 絆−東日本大震災チャリティーオークション（上海）</span></li>
							<li>
								<span class="date">2014</span>
								<span>
								新年万福！お年賀展 (FEI ARTMUSEUM YOKOHAMA) <br>
								-女子会-現代日本画七つ星展(シルクランド画廊)<br>
								OKIMOCHI展 (FEI ARTGALLERY YOKOHAMA)<br>
								MSDZ (ギャラリーオノマトペ 阿佐ヶ谷)<br>
								第18回 創画会東京研究所 夏の会(ギャラリー青羅 銀座)
							</span>
							</li>
							<li>
								<span class="date">2015</span>
								<span>
								新年万福！お年賀展 (FEI ARTMUSEUM YOKOHAMA)<br>
								MSDZ2 (ギャラリーオノマトペ 阿佐ヶ谷)<br>
								ジタン館 グループ展 (鎌倉)
							</span>
							</li>
							<li>
								<span class="date">2016</span>
								<span>
								新年万福！お年賀展 (FEI ARTMUSEUM YOKOHAMA)<br>
								クロスビューアート展
							</span>
							</li>
							<li>
								<span class="date">2017</span>
								<span>
								SPLASH展（シバヤマアートギャラリー）<br>
								SPLASH展（東京大丸美術画廊）
							</span>
							</li>
							<li>
								<span class="date">2019</span>
								<span>
								若手作家3人展（横浜そごう美術画廊）<br>
								SPLASH2展（シバヤマアートギャラリー）
							</span>
							</li>
						</ul>
					</div>
					<div class="profile__info_item">
						<h3 class="profile__info_title">[個展]</h3>
						<ul class="profile__info_list">
							<li><span class="date">2006</span><span>埼玉県生まれ</span></li>
							<li><span class="date">2007</span><span>私立自由の森学園高校卒業</span></li>
							<li><span class="date">2010.2011.<br>2013</span><span>San-Ai-Gallery(人形町)</span></li>
							<li><span class="date">2016</span><span>ギャラリーなつか（京橋）</span></li>
							<li><span class="date">2018</span><span>コートギャラリー（国立）</span></li>
							<li><span class="date">2019</span><span>ギャラリー８８（国立）</span></li>
						</ul>
					</div>
					<div class="profile__info_item">
						<h3 class="profile__info_title"> [公募展]</h3>
						<ul class="profile__info_list">
							<li><span class="date">2005</span><span>第三回トリエンナーレ豊橋 星野眞吾賞展入選</span></li>
							<li><span class="date">2012.2013.<br>2015-2019</span><span>東京春季創画展入選</span></li>
							<li><span class="date">2012-2018</span><span> 創画展入選</span></li>
							<li><span class="date">2017</span><span> 第七回トリエンナーレ豊橋 星野眞吾賞展入選</span></li>
							<li><span class="date">2019</span><span> FACE展 損保ジャパン日本興亜美術賞展入選</span></li>
						</ul>
					</div>
					<p class="profile__info_text text-right">現在創画会会友</p>
				</div>
			</div>
		</section>
	</main>
	<%= _.template(require('./parts/footer.html'))() %>
</div>
</body>
</html>
