
<nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ url('artist_index') }}">{{ app.user.name }} {{ app.user.surname }}<br> 米蒸 千穂</a>
            <a class="navbar-brand hidden" href="{{ url('artist_index') }}">❤</a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if app.request.attributes.get('_route') in ['artist_admin_homepage'] %}active{% endif %}">
                    <a href="{{ url('artist_admin_homepage') }}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <h3 class="menu-title">Options</h3>
                <li class="{% if app.request.attributes.get('_route') in ['artist_admin_options_smtp'] %}active{% endif %}">
                    <a href="{{ url('artist_admin_options_smtp') }}"> <i class="menu-icon fa ti-panel"></i>Options </a>
                </li>
                <h3 class="menu-title">Blog</h3>
                <li class="menu-item-has-children dropdown {% if app.request.attributes.get('_route') in ['artist_admin_information_add_new', 'artist_admin_information_show_all', 'artist_admin_information_modify', 'artist_admin_information_delete'] %} show{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-comment-o"></i>Information</a>
                    <ul class="sub-menu children dropdown-menu {% if app.request.attributes.get('_route') in ['artist_admin_information_add_new', 'artist_admin_information_show_all', 'artist_admin_information_modify', 'artist_admin_information_delete'] %} show{% endif %}">
                        <li><i class="fa ti-pencil-alt"></i><a href="{{ url('artist_admin_information_add_new') }}">Add new</a></li>
                        <li><i class="fa ti-layout"></i><a href="{{ url('artist_admin_information_show_all') }}">Show all</a></li>
                    </ul>
                </li>
                <h3 class="menu-title">Gallery</h3>
                <li class="menu-item-has-children dropdown {% if app.request.attributes.get('_route') in ['artist_admin_gallery_show_all', 'artist_admin_gallery_add_new', 'artist_admin_gallery_modify', 'artist_admin_gallery_delete'] %} show{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-comment-o"></i>Gallery</a>
                    <ul class="sub-menu children dropdown-menu {% if app.request.attributes.get('_route') in ['artist_admin_gallery_show_all', 'artist_admin_gallery_add_new', 'artist_admin_gallery_modify', 'artist_admin_gallery_delete'] %} show{% endif %}">
                        <li><i class="fa ti-pencil-alt"></i><a href="{{ url('artist_admin_gallery_add_new') }}">Add new</a></li>
                        <li><i class="fa ti-layout"></i><a href="{{ url('artist_admin_gallery_show_all') }}">Show all</a></li>
                    </ul>
                </li>
                <h3 class="menu-title">Mails</h3>
                <li class="{% if app.request.attributes.get('_route') in ['artist_admin_mail_show_all', ['artist_admin_mail_show_current']] %}active{% endif %}">
                    <a href="{{ url('artist_admin_mail_show_all') }}"> <i class="menu-icon fa fa-envelope"></i>ALL</a>
                </li>
                <h3 class="menu-title">My Profile</h3>
                <li class="{% if app.request.attributes.get('_route') in ['artist_admin_profile', ['artist_admin_profile']] %}active{% endif %}">
                    <a href="{{ url('artist_admin_profile') }}"> <i class="menu-icon fa ti-user"></i>Profile</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>