
<form action="{{ form.vars.action }}" method="{{ form.vars.method }}" enctype="multipart/form-data" class="form-horizontal">
    <input type="hidden" value="{{ form._token.vars.value }}" name="{{ form._token.vars.full_name }}">
    <div class="row form-group">
        <div class="col col-md-3">
            <label for="isShow" class=" form-control-label">Is show?</label>
        </div>
        <div class="col-5 col-md-9">
            <div class="form-check">
                <div class="checkbox">
                    <label for="{{ form.isShow.vars.full_name }}" class="form-check-label ">
                        <input type="checkbox" id="{{ form.isShow.vars.full_name }}" name="{{ form.isShow.vars.full_name }}" {% if form.isShow.vars.checked %}checked{% else %}{% endif %} class="{% if form.isShow.vars.errors|length %}is-invalid {% endif %}form-check-input">Show
                    </label>
                </div>
            </div>
            {% for error in form.isShow.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="title" class=" form-control-label">Title</label>
        </div>
        <div class="col-5 col-md-9">
            <input type="text" id="title" name="{{ form.title.vars.full_name }}" value="{{ form.title.vars.value }}" class="{% if form.title.vars.errors|length %}is-invalid {% endif %}form-control col-12">
            {% for error in form.title.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="year" class=" form-control-label">Year</label>
        </div>
        <div class="col-5 col-md-9">
            <input type="text" id="year" name="{{ form.year.vars.full_name }}" value="{{ form.year.vars.value }}" class="{% if form.year.vars.errors|length %}is-invalid {% endif %}form-control yearpicker col-4">
            {% for error in form.year.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">
        {{ form_widget(form.informationContent) }}
    </div>

    <div class="card-footer" style="padding-left: 0; background-color: inherit;">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Submit
        </button>
    </div>
</form>