{% extends '@view.art_admin/layouts/security.html.twig' %}

{% block content %}

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="{{ url('artist_index') }}" style="font-size: 22px; color: white;">
                        Chiho Yonemushi
                        米蒸 千穂
                    </a>
                </div>
                <div class="login-form">
                    {{ include('@view.art_admin/forms/Security/login_form.html.twig', {'form': formLogin, 'error': error, 'lastUserName': lastUserName}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}