{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block content %}

	<div class="breadcrumbs">
		<div class="col-sm-4">
			<div class="page-header float-left">
				<div class="page-title">
					<h1>Dashboard</h1>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="page-header float-right">
				<div class="page-title">
					<ol class="breadcrumb text-right">
						<li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
						<li class="active">{{ app.user.name }} {{ app.user.surname }} ({{ app.user.username }}) - Profile</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="content mt-3">
		<div class="animated fadeIn">

			<div class="ui-typography">
				<div class="row">
					<div class="col-md-12">


						<div class="card">
							<div class="card-header">
								<strong class="card-title" v-if="headerText">{{ app.user.name }} {{ app.user.surname }}
									({{ app.user.username }}) - Profile</strong>
							</div>

							<div class="card-body">
								<div class="vue-misc">
									<h3 style="margin-bottom: 10px;">User Information</h3>
									<div class="row">
										<div class="col-md-12">
											<h4 class="text-sm mt-2 mb-1">Image Logo</h4>
											<hr>
											<div class="admin-img-wrapper"
														style="display: flex; align-items: center; justify-content: center; width: 200px; height: 200px; border-radius: 50%; overflow: hidden;">
												<img class="d-block"
														 src="{% if app.user.logo is not empty %}{{ vich_uploader_asset(app.user.logo, 'objFile') }}{% endif %}"
														 alt="Logo Image">
											</div>
											<p></p>
										</div>
										<div class="col-md-12">
											<h4 class="text-sm mt-2 mb-1">User Nickname</h4>
											<hr>
											<p>{{ app.user.username }}</p>
										</div>
										<div class="col-md-12">
											<h4 class="text-sm mt-2 mb-1">User Name</h4>
											<hr>
											<p>{{ app.user.name }} {{ app.user.surname }}</p>
										</div>
										<div class="col-md-12">
											<h4 class="text-sm mt-2 mb-1">User Email</h4>
											<hr>
											<p>{{ app.user.email }}</p>
										</div>
									</div>
								</div>
								<a href="{{ url('artist_admin_security_my_profile_change') }}" class="btn btn-success"
									 style="color: white;">Change Profile</a>
								<a href="{{ url('artist_admin_security_my_profile_change_email') }}" class="btn btn-success"
									 style="color: white;">Change Email</a>
								<a href="{{ url('artist_admin_security_my_profile_change_password') }}" class="btn btn-success"
									 style="color: white;">Change Password</a>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div><!-- .animated -->
	</div>

{% endblock %}
