{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
                        <li class="active">{{ app.user.name }} {{ app.user.surname }} ({{ app.user.username }}) - Profile Change</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="ui-typography">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card-body card-block">

                            {{ include('@view.art_admin/forms/Security/change_user_information.html.twig', {'form': userInformationForm}) }}

                        </div>

                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>

{% endblock %}