<header id="header" class="header">
	<div class="header-wrapper">
		<nav class="main-nav">
			<ul class="main-nav__list">
				<li><a href="index.html">Home</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="information.html">Information</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
		<ul class="social__list">
			<li>
				<a href="#">
					<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M21.7649 0H9.23507C4.14283 0 0 4.14283 0 9.23507V21.7649C0 26.8572 4.14283 31 9.23507 31H21.7649C26.8572 31 31 26.8572 31 21.7649V9.23507C30.9999 4.14283 26.8571 0 21.7649 0ZM27.8814 21.7649C27.8814 25.1429 25.1429 27.8814 21.7649 27.8814H9.23507C5.85706 27.8814 3.1186 25.1429 3.1186 21.7649V9.23507C3.1186 5.85701 5.85706 3.1186 9.23507 3.1186H21.7649C25.1429 3.1186 27.8814 5.85701 27.8814 9.23507V21.7649Z"
							fill="#464646"/>
						<path
							d="M15.4952 7.47754C11.0743 7.47754 7.47754 11.0743 7.47754 15.4952C7.47754 19.9161 11.0743 23.5129 15.4952 23.5129C19.9162 23.5129 23.5129 19.9162 23.5129 15.4952C23.5129 11.0742 19.9162 7.47754 15.4952 7.47754ZM15.4952 20.3943C12.7895 20.3943 10.5961 18.201 10.5961 15.4952C10.5961 12.7895 12.7896 10.5961 15.4952 10.5961C18.201 10.5961 20.3943 12.7895 20.3943 15.4952C20.3943 18.2009 18.2009 20.3943 15.4952 20.3943Z"
							fill="#464646"/>
						<path
							d="M23.5364 9.45814C24.5975 9.45814 25.4576 8.59798 25.4576 7.53693C25.4576 6.47588 24.5975 5.61572 23.5364 5.61572C22.4754 5.61572 21.6152 6.47588 21.6152 7.53693C21.6152 8.59798 22.4754 9.45814 23.5364 9.45814Z"
							fill="#464646"/>
					</svg>

				</a>
			</li>
			<li>
				<a href="#">
					<svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M27.5843 0H4.93906C2.63202 0 0.761719 1.87022 0.761719 4.17731V26.8225C0.761719 29.1296 2.63195 30.9999 4.93906 30.9999H16.1076L16.1266 19.9222H13.2486C12.8746 19.9222 12.571 19.6198 12.5696 19.2457L12.5558 15.6749C12.5544 15.2989 12.8588 14.9933 13.2349 14.9933H16.1077V11.543C16.1077 7.53895 18.5531 5.35873 22.125 5.35873H25.056C25.431 5.35873 25.7351 5.66275 25.7351 6.03782V9.04873C25.7351 9.42365 25.4312 9.7276 25.0564 9.72783L23.2576 9.72866C21.3151 9.72866 20.939 10.6517 20.939 12.0063V14.9934H25.2073C25.614 14.9934 25.9296 15.3485 25.8817 15.7524L25.4584 19.3232C25.4179 19.6649 25.1282 19.9223 24.7841 19.9223H20.958L20.939 31H27.5845C29.8915 31 31.7617 29.1298 31.7617 26.8228V4.17731C31.7616 1.87022 29.8914 0 27.5843 0Z"
							fill="#464646"/>
					</svg>
				</a>
			</li>
		</ul>
		<a href="#" class="mob-menu__open"><span></span></a>
	</div>
</header>
