{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
                        <li class="active">Options</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="ui-typography">
                <div class="row">
                    <div class="card col-lg-12">
                        <div class="card-header">
                            <strong class="card-title" v-if="headerText">Options</strong>
                        </div>
                        <div class="card-body">

                            <div class="col-lg-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h4>Custom Tab</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="custom-tab">

                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <a class="nav-item nav-link active show" id="custom-nav-home-tab1" data-toggle="tab" href="javascript:void(0);">Mail Option</a>
                                                    <a class="nav-item nav-link" id="custom-nav-profile-tab2" href="{{ url('artist_admin_options_instagram') }}">Instagram</a>
                                                    <a class="nav-item nav-link" id="custom-nav-contact-tab3" href="{{ url('artist_admin_options_facebook') }}">Facebook</a>
                                                </div>
                                            </nav>
                                            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                                <div class="tab-pane active fade show" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">

                                                    {{ include('@view.art_admin/forms/Options/smtp_mailler_form.html.twig', {'form':smtpForm}) }}

                                                </div>
                                                <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                                                </div>
                                                <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>

{% endblock %}