{% if profile.title is not empty %}

    <section class="top-profile" data-sal-duration="1200" data-sal="fade" data-sal-delay="200" data-sal-easing="ease-out-bounce">
    <div class="container">
        <h2 class="section-title" data-sal-duration="1000" data-sal="slide-left" data-sal-delay="400" data-sal-easing="ease-out-bounce">プロフィール <span>Profile</span></h2>
        <div class="container-md">
            <div class="top-profile__info" data-sal-duration="1000" data-sal="slide-left" data-sal-delay="600" data-sal-easing="ease-out-bounce">
                <div class="top-profile__info_item">
                    <div class="top-profile__info_img-wrapper">
                        <div class="top-profile__info_padding-hack">
                            <img src="{% if profile.thumbnail is not empty %}{{ vich_uploader_asset(profile.thumbnail, 'objFile') }}{% else %}{{ asset('public/images/profile-01.jpg') }}{% endif %}" alt="Profile">
                        </div>
                    </div>
                    <div class="top-profile__info_text-wr">
                        <p class="top-profile_text">
                            {{ profile.title }}
                        </p>
                        <ul class="top-profile_list">
                            <li>
                                {{ profile.description|nl2br }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="link-wrapper" data-sal-duration="1000" data-sal="slide-left" data-sal-delay="800" data-sal-easing="ease-out-bounce">
                    <a href="{{ url('artist_profile_index') }}" class="def-btn def-btn_text-left">もっと見る <span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}