{% if instagram.connect() %}

{% set data = instagram.feed(5) %}

    {% if data is not empty %}

        {%  for single in data.data %}

            {% if single.meta.code == 200 %}

                <section class="top-instagram">
                <div class="container">
                    <h2 class="top-instagram__title" data-sal-duration="1500" data-sal="slide-right"  data-sal-delay="400" data-sal-easing="ease-out-bounce">Instagram</h2>
                    <div class="container-md">
                        <ul class="instagram__list">
                            {% set countTimer = 1000 %}
                            {% set salDelay = 200 %}
                            {% for feedPost in single.data %}

                                <li data-sal-duration="{{ countTimer }}" data-sal="slide-right" data-sal-delay="{{ salDelay }}" data-sal-easing="ease-out-bounce">
                                    <a href="{{ feedPost.link }}"><img src="{{ feedPost.images.thumbnail.url }}" alt="1"></a>
                                </li>

                                {% set countTimer = countTimer*2 %}
                                {% set salDelay = salDelay + 100 %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </section>

            {% endif %}

        {% endfor %}

    {% endif %}

{% endif %}