{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block styles %}

    {{ parent() }}
    <link type="text/css" href="{{ asset('dashboard/assets/Year-Picker-Text-Input/yearpicker.css') }}" rel="stylesheet" media="screen" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('CKEditor/ckeditor.js') }}"></script>#}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    {#<script>#}
        {#CKEDITOR.replace( 'editor', {#}
            {#extraPlugins: 'easyimage',#}
            {#cloudServices_tokenUrl: "{{ url('artist_admin_ajax_upload_user_token') }}",#}
            {#cloudServices_uploadUrl: "{{ url('artist_admin_ajax_upload') }}"#}
        {#} );#}
    {#</script>#}
    <script src="{{ asset('dashboard/assets/Year-Picker-Text-Input/yearpicker.js') }}"></script>
    <script>
        jQuery(document).ready(function($) {
            $("#year").yearpicker({
                year: 2017,
                startYear: 2000,
                endYear: 2030
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
                        <li class="active">Add new post (Gallery)</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="ui-typography">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 60px;">

                        {{ include("@view.art_admin/forms/Gallery/add_new_blog_gallery.html.twig", {'form':addNewGalleryPost}) }}

                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>

{% endblock %}