{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
                        <li class="active">Gallery</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="ui-typography">
                <div class="row">
                    <div class="card card-gallery">
                        <div class="card-header">
                            <strong class="card-title" v-if="headerText">Gallery</strong>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-hover table-striped table-align-middle show-all-table mb-0">
                                <thead>
                                <tr>
                                    <th style="text-align: left;">Title</th>
                                    <th>Year</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                    <th>Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if galleryPosts is not empty %}

                                    {% for post in galleryPosts %}

                                        <tr{% if post.isShow == false %} style="background-color: #dc353561;" {% endif %}>
                                            <td>
                                                {{ post.title }}
                                                <br>
                                                <a href="{{ url('artist_gallery_index', {'year': post.year }) }}"><span class="fa fa-external-link-square" style="margin-right: 5px;"></span>Post Link</a>
                                            </td>
                                            <td>
                                                {{ post.year }}
                                            </td>
                                            <td>
                                                {{ post.createdAt|date('Y年n月j日') }}
                                            </td>
                                            <td>
                                                {{ post.modifiedAt|date('Y年n月j日') }}
                                            </td>
                                            <td class="edit-posts">
                                                <a href="{{ url('artist_admin_gallery_modify', {'id':post.id}) }}"><span class="fa fa-pencil" style="margin-right: 5px;"></span></a>
                                                <a href="{{ url('artist_admin_gallery_delete', {'id':post.id}) }}"><span class="fa fa-trash-o"></span></a>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>

{% endblock %}
