{#{{ dump(form) }}#}
<form action="{{ form.vars.action }}" method="{{ form.vars.method }}">
    <input type="hidden" value="{{ form._token.vars.value }}" name="{{ form._token.vars.full_name }}">
    <div class="form__wrapper">
        <label class="is-invalid" for="{{ form.name.vars.full_name }}">
            {% for error in form.name.vars.errors %}
                <div class="form-text text-muted red-bg" style="color: red; padding-bottom: 3px;">
                    <small class="badge badge-danger">{{ error.message }}</small>
                </div>
            {% endfor %}
            <input name="{{ form.name.vars.full_name }}" value="{{ form.name.vars.value }}" id="{{ form.name.vars.full_name }}" placeholder="お名前">
        </label>
        <label for="{{ form.phone.vars.full_name }}">
            {% for error in form.phone.vars.errors %}
                <div class="form-text text-muted red-bg" style="color: red; padding-bottom: 3px;">
                    <small class="badge badge-danger">{{ error.message }}</small>
                </div>
            {% endfor %}
            <input type="text" name="{{ form.phone.vars.full_name }}" value="{{ form.phone.vars.value }}" id="{{ form.phone.vars.full_name }}" placeholder="電話番号">
        </label>
        <label for="{{ form.email.vars.full_name }}">
            {% for error in form.email.vars.errors %}
                <div class="form-text text-muted red-bg" style="color: red; padding-bottom: 3px;">
                    <small class="badge badge-danger">{{ error.message }}</small>
                </div>
            {% endfor %}
            <input type="email" name="{{ form.email.vars.full_name }}" value="{{ form.email.vars.value }}" id="{{ form.email.vars.full_name }}" placeholder="メールアドレス">
        </label>
        {% for error in form.text.vars.errors %}
            <div class="form-text text-muted red-bg" style="color: red; padding-bottom: 3px;">
                <small class="badge badge-danger">{{ error.message }}</small>
            </div>
        {% endfor %}
        <textarea name="{{ form.text.vars.full_name }}" placeholder="お問い合わせ内容">{{ form.text.vars.value }}</textarea>
        <div class="submit-wrapper">
            <button type="submit" class="def-btn">送信する</button>
        </div>
    </div>
</form>