
<form action="{{ form.vars.action }}" method="{{ form.vars.method }}" enctype="multipart/form-data" class="form-horizontal">
    <input type="hidden" value="{{ form._token.vars.value }}" name="{{ form._token.vars.full_name }}">
    <div class="row form-group">
        <div class="col col-md-3">
            <label for="text-input" class=" form-control-label">Title</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" id="text-input" name="{{ form.title.vars.full_name }}" value="{{ form.title.vars.value }}" class="{% if form.title.vars.errors|length %}is-invalid {% endif %}form-control">
            {% for error in form.title.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="imgInp" class=" form-control-label">Thumbnail</label>
        </div>
        <div class="col-12 col-md-9">
            <div style="width: 200px; height: 200px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                <img style="" id="blah" class="d-block" src="{% if blogPost.thumbnail is not empty %}{{ vich_uploader_asset(blogPost.thumbnail, 'objFile') }}{% else %}{{ asset('custom/image/placeholder_600x400.svg') }}{% endif %}" alt="Thumbnail">
            </div>
            <hr>
            <input type="file" id="imgInp" name="{{ form.thumbnail.vars.full_name }}" value="{{ form.thumbnail.vars.value }}" class="form-control-file">
            {% for error in form.thumbnail.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">

        <textarea data-theme="advanced" class="tinymce" name="{{ form.informationContent.vars.full_name }}">{{ form.informationContent.vars.value }}</textarea>

    </div>

    <div class="card-footer" style="padding-left: 0; background-color: inherit;">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Submit
        </button>
    </div>
</form>