{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3" style="background: url({{ asset('public/images/top-main-bg.jpg') }}) 50% 50% no-repeat;background-size: cover; padding-top: 15px; min-height: 100vh;">

        {% set messagesUnread = mail.unreadMessages %}

        {% if messagesUnread|length > 0 %}

            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-success">NEW</span> You have new messages.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

        {% endif %}

        {% if (istagramPhoto.error == false and userInfo.error == false) %}

            {% for data in istagramPhoto.data %}

                {% if (data.meta.code == 200 and userInfo.data.0.meta.code == 200) %}

                    <div class="col-lg-5 col-md-6">
                        <div class="social-box facebook">
                            <i class="fa fa-instagram i_hight-add" style="background: #71d1f5;"></i>
                            <div class="box-light-blue">
                                <h3 class="title_post">{{ userInfo.data.0.data.username }}</h3>
                                <img class="circle-border" src="{{ userInfo.data.0.data.profile_picture }}" alt="Profile">
                            </div>


                            <ul>
                                <li>
                                    <span class="count">{{ userInfo.data.0.data.counts.follows }}</span>
                                    <span>follows</span>
                                </li>
                                <li>
                                    <span class="count">{{ userInfo.data.0.data.counts.media }}</span>
                                    <span>media</span>
                                </li>
                            </ul>

                            {% for photoData in data.data %}

                                <ul>
                                    <li>
                                        <span>Likes :</span>
                                        <span class="count">{{ photoData.likes.count }}</span><br>
                                        <span>Comments :</span>
                                        <span class="count">{{ photoData.comments.count }}</span>
                                    </li>
                                    <li>
                                        <img class="image_soc_icon" src="{{ photoData.images.standard_resolution.url }}" alt="Instagramm">
                                    </li>
                                </ul>

                            {% endfor %}

                        </div>
                        <!--/social-box-->
                    </div>

                {% endif %}

            {% endfor %}

        {% endif %}

        {% if messagesUnread|length > 0 %}

            <div class="col-lg-7 col-md-6">
            <div class="card-body p-0">
                <table class="table table-hover table-striped table-align-middle show-all-table mb-0">
                    <thead>
                    <tr style="color: white;">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Send Date</th>
                        <th>Manage</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for mess in messagesUnread %}

                        <tr style="background-color: #b8e8fa;">
                        <td>
                            {{ mess.name }}
                            <br>
                            <a href="{{ url('artist_admin_mail_show_current', {'id':mess.id}) }}"><span class="fa fa-external-link-square" style="margin-right: 5px;"></span>Show Message</a>
                        </td>
                        <td>
                            {{ mess.email }}
                        </td>
                        <td>
                            {{ mess.createdAt|date('Y年n月j日') }}
                        </td>
                        <td class="edit-posts">
                            <a href="{{ url('artist_admin_mail_delete_current', {'id':mess.id}) }}"><span class="fa fa-trash-o"></span></a>
                        </td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        {% endif %}

    </div>

{% endblock %}