<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <!-- og format -->
    <meta property="og:title" content="">
    <!-- bar color -->
    <meta name="theme-color" content="#fff">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <!-- favicon -->
    <!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">-->
    <!--<link rel="apple-touch-icon" href="images/apple-touch-icon152.png" sizes="152x152">-->
    <title>{{ node.title }}</title>
    <link href="{{ asset('public/styles/index.css') }}" rel="stylesheet"></head>

    {% block styles %}{% endblock %}

<body>
<div class="wrapper" id="wrapper">

    {{ include("@view.art/headers/main_header.html.twig") }}

    {% block content %}{% endblock %}

    {{ include("@view.art/footers/main_footer.html.twig") }}



</div>
<script src="{{ asset('public/js/runtime.js') }}"></script>
<script src="{{ asset('public/js/es2015-polyfills.js') }}" nomodule></script>
<script src="{{ asset('public/js/index.js') }}"></script>
<script src="{{ asset('public/js/environment.js') }}"></script></body>

{% block javascripts %}{% endblock %}

</html>
