<header id="header" class="header">

    <div class="header-menu">

        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
            <div class="header-left">
                {#<button class="search-trigger"><i class="fa fa-search"></i></button>#}
                {#<div class="form-inline">#}
                    {#<form class="search-form">#}
                        {#<input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">#}
                        {#<button class="search-close" type="submit"><i class="fa fa-close"></i></button>#}
                    {#</form>#}
                {#</div>#}

                <div class="dropdown for-message">
                    {% set messages = mail.unreadMessages %}

                    <button class="btn btn-secondary dropdown-toggle" type="button"
                            id="message"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti-email"></i>
                        <span class="count bg-primary">{{ messages|length }}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="message">
                        <p class="red">You have {{ messages|length }} Mails</p>

                        {% for message in messages %}

                            <a class="dropdown-item media bg-flat-color-5" href="{{ url('artist_admin_mail_show_current', {'id':message.id}) }}">
                                <span class="message media-body">
                                        <span class="name float-left">{{ message.name }}</span>
                                        <span class="time float-right">{{ message.createdAt|date('Y年n月j日') }}</span>
                                            <p>{{ message.email }}</p>
                                    </span>
                            </a>

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="admin-img-wrapper" style="display: flex; align-items: center; justify-content: center; width: 32px; height: 32px; border-radius: 50%; overflow: hidden;">
											<img class="user-avatar" src="{% if app.user.logo is not empty %}{{ vich_uploader_asset(app.user.logo, 'objFile') }}{% endif %}" alt="User Avatar">
										</div>
                </a>

                <div class="user-menu dropdown-menu">
                    <a class="nav-link" href="{{ url('artist_admin_security_my_profile') }}"><i class="fa fa-user"></i> My Profile</a>

                    <a class="nav-link" href="{{ url('artist_admin_options_smtp') }}"><i class="fa fa-cog"></i> Settings</a>

                    <a class="nav-link" href="{{ url('artist_admin_logout') }}"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>

        </div>
    </div>

</header>
