{% extends '@view.art/layouts/main_layout.html.twig' %}

{% block content %}


    <main class="main">
        <section class="information">
            <div class="container">
                <h2 class="section-title section-title_gray">お知らせ <span>Information</span></h2>
                <div class="container-md">
                    {% if blogPosts is not empty %}
                        <ul class="gallery-info__list">
                            {% for info in blogPosts %}
                                <li>
                                    <a href="{{ url('artist_information_single', {'slug':info.title|url_encode }) }}">
                                        <span class="date">{{ info.modifiedAt|date('Y年n月j日') }}</span>
                                        {{ info.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="gallery-info__list">
                            <li>
                                <span>
                                    <span class="date"></span>
                                    Posts Not found.
                                </span>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
    <div class="fader"></div>


{% endblock %}

