{% extends '@view.art/layouts/main_layout.html.twig' %}

{% block content %}

    <main class="main">
        <section class="information">
            <div class="container">
                <div class="information__wrapper">
                    <h2 class="section-title section-title_gray mb90">お知らせ <span>Information</span></h2>
                    <div class="information__post">
                        <h3 class="information__post_title">{{ currentPost.title }}</h3>
                        <p class="information__post_subtitle">{{ currentPost.modifiedAt|date('Y年n月j日') }}</p>
                    </div>
                    <div class="information__post_info">
                        {{ currentPost.informationContent|raw }}
                    </div>
                    <div class="pagination">
                        <ul class="pagination__list">
                            {% if links.prev is not empty %}
                                <li><a href="{{ links.prev }}"></a></li>
                            {% else %}
                                <li style="display: none;"><a href="javascript:void(0);"></a></li>
                            {% endif %}
                            <li><a href="{{ url('artist_information_index') }}">お知らせ一覧に戻る</a></li>
                            {% if links.next is not empty %}
                                <li><a href="{{ links.next }}"></a></li>
                            {% else %}
                            <li style="display: none;"><a href="javascript:void(0);"></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="fader"></div>


{% endblock %}

