{% extends '@view.art/layouts/main_layout.html.twig' %}

{% block content %}

    <main class="main">
        <section class="gallery">
            <div class="container">
                <h2 class="section-title section-title_gray">ギャラリー <span>Gallery</span></h2>

                {% if postYears is not empty %}

                    <div class="gallery__posts">

                        <ul class="gallery__category-list">
                            {% for year in postYears %}
                                {% if loop.last %}
                                    {% if yearCurrent is empty %}
                                        <li>
                                            <a class="active" href="{{ url('artist_gallery_index', {'year':year.year}) }}">{{ year.year }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a {% if year.year == yearCurrent %}class="active"{% else %}{% endif %} href="{{ url('artist_gallery_index', {'year':year.year}) }}">{{ year.year }}</a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li>
                                        <a {% if year.year == yearCurrent %}class="active"{% else %}{% endif %} href="{{ url('artist_gallery_index', {'year':year.year}) }}">{{ year.year }}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                        <div class="gallery__content">
                            {% for post in posts %}

                                <div class="gallery__post">
                                    {{ post.informationContent|raw }}
                                </div>

                            {% endfor %}
                        </div>
                    </div>

                {% endif %}

            </div>
        </section>
    </main>


    <div class="fader"></div>


{% endblock %}

