<form class="col-lg-6" name="{{ form.vars.full_name }}" action="{{ form.vars.action }}" method="{{ form.vars.method }}">
    <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
    <div class="card">
        <div class="card-header"><strong>Instagram Options</strong></div>
        <div class="card-body card-block">
            <div class="form-group">
                <label for="{{ form.userUrl.value.vars.full_name }}" class=" form-control-label">Mailer host</label>
                <input type="hidden" name="{{ form.userUrl.slug.vars.full_name }}" value="{{ form.userUrl.slug.vars.value }}">
                <input name="{{ form.userUrl.value.vars.full_name }}" value="{{ form.userUrl.value.vars.value }}" type="text" id="{{ form.userUrl.value.vars.full_name }}" placeholder="Enter host" class="{% if form.userUrl.value.vars.errors|length %}is-invalid {% endif %}form-control">
                {% for error in form.userUrl.slug.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
                {% for error in form.userUrl.value.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-magic"></i>&nbsp; Submit</button>
            </div>
        </div>
    </div>
</form>