<form class="col-lg-6" name="{{ form.vars.full_name }}" action="{{ form.vars.action }}" method="{{ form.vars.method }}">
    <input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
    <div class="card">
        <div class="card-header"><strong>Email Options (SMTP)</strong></div>
        <div class="card-body card-block">
            <div class="form-group">
                <label for="{{ form.userEmail.value.vars.full_name }}" class=" form-control-label">Email Adress</label>
                <input type="hidden" name="{{ form.userEmail.slug.vars.full_name }}" value="{{ form.userEmail.slug.vars.value }}">
                <input name="{{ form.userEmail.value.vars.full_name }}" value="{{ form.userEmail.value.vars.value }}" type="text" id="{{ form.userEmail.value.vars.full_name }}" placeholder="Email Adress" class="{% if form.userEmail.value.vars.errors|length %}is-invalid {% endif %}form-control">
                {% for error in form.userEmail.slug.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
                {% for error in form.userEmail.value.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.userHost.value.vars.full_name }}" class=" form-control-label">Mailer host</label>
                <input type="hidden" name="{{ form.userHost.slug.vars.full_name }}" value="{{ form.userHost.slug.vars.value }}">
                <input name="{{ form.userHost.value.vars.full_name }}" value="{{ form.userHost.value.vars.value }}" type="text" id="{{ form.userHost.value.vars.full_name }}" placeholder="Enter host" class="{% if form.userHost.value.vars.errors|length %}is-invalid {% endif %}form-control">
                {% for error in form.userHost.value.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
                {% for error in form.userHost.slug.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.userUsername.vars.full_name }}" class=" form-control-label">Mailer user</label>
                <input type="hidden" name="{{ form.userUsername.slug.vars.full_name }}" value="{{ form.userUsername.slug.vars.value }}">
                <input name="{{ form.userUsername.value.vars.full_name }}" value="{{ form.userUsername.value.vars.value }}" type="text" id="{{ form.userUsername.value.vars.full_name }}" placeholder="Enter user" class="{% if form.userUsername.value.vars.errors|length %}is-invalid {% endif %}form-control">
                {% for error in form.userUsername.value.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
                {% for error in form.userUsername.slug.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.userPass.value.vars.full_name }}" class=" form-control-label">Mailer Password</label>
                <input type="hidden" name="{{ form.userPass.slug.vars.full_name }}" value="{{ form.userPass.slug.vars.value }}">
                <input name="{{ form.userPass.value.vars.full_name }}" value="{{ form.userPass.value.vars.value }}" type="text" id="{{ form.userPass.value.vars.full_name }}" placeholder="Enter user password" class="{% if form.userPass.value.vars.errors|length %}is-invalid {% endif %}form-control">
                {% for error in form.userPass.value.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
                {% for error in form.userPass.slug.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="{{ form.userPort.value.vars.full_name }}" class=" form-control-label">Mailer Port</label>
                <input type="hidden" name="{{ form.userPort.slug.vars.full_name }}" value="{{ form.userPort.slug.vars.value }}">
                <input name="{{ form.userPort.value.vars.full_name }}" value="{{ form.userPort.value.vars.value }}" type="text" id="{{ form.userPort.value.vars.full_name }}" placeholder="Enter port" class="{% if form.userPort.value.vars.errors|length %}is-invalid {% endif %}form-control col-lg-3">
                {% for error in form.userPort.value.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
                {% for error in form.userPort.slug.vars.errors %}
                    <small class="form-text text-muted red-bg">
                        <span class="badge badge-danger">Error</span>
                        {{ error.message }}
                    </small>
                {% endfor %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-magic"></i>&nbsp; Submit</button>
            </div>
        </div>
    </div>
</form>