{% extends '@view.art/layouts/main_layout.html.twig' %}

{% block content %}

    <section class="top-main" data-sal-duration="1000" data-sal="fade" data-sal-delay="200" data-sal-easing="ease-out-bounce">
        <div class="top-main_child" data-sal-duration="1200" data-sal="slide-left" data-sal-delay="800" data-sal-easing="ease-out-bounce">
            <p class="top-main__subtitle">Chiho Yonemushi</p>
            <h1 class="top-main__title">米蒸 千穂</h1>
        </div>
    </section>

    {% if blogPosts is not empty %}

        <section class="gallery-info">
            <div class="container">
                <div class="link-wrapper" data-sal-duration="1000" data-sal="slide-right" data-sal-delay="200" data-sal-easing="ease-out-bounce">
                    <a href="#" class="gallery-info__link">To The Gallery <span class="arrow"></span></a>
                </div>
                <div class="gallery-info_item">
                    <h2 class="section-title" data-sal-duration="1000" data-sal="slide-right" data-sal-delay="400" data-sal-easing="ease-out-bounce">お知らせ <span>Information</span></h2>
                    <div class="container-md">
                        <ul class="gallery-info__list" data-sal-duration="1000" data-sal="slide-right" data-sal-delay="600" data-sal-easing="ease-out-bounce">

                            {% for info in blogPosts %}
                                <li>
                                    <a href="{{ url('artist_information_single', {'slug':info.title|url_encode }) }}">
                                        <span class="date">{{ info.modifiedAt|date('Y年n月j日') }}</span>
                                        {{ info.title }}
                                    </a>
                                </li>
                            {% endfor %}


                        </ul>

                        <div class="link-wrapper">
                            <a href="{{ url('artist_information_index') }}" class="def-btn">一覧へ</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    {{ include('@view.art/components/index_profile_component.html.twig', {'profile':profileInfo}) }}

    {{ include('@view.art/components/instagram_component.html.twig') }}

    </section>
    <div class="fader"></div>

{% endblock %}

