/* footer */

.footer {
	margin-top: auto;
	padding: 40px 0 15px;
	background-color: $dGray;
	position: relative;

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		color: #fff;
		font-weight: 500;
		font-size: 36px;
		line-height: 1.2;

		span {
			@include media("<tablet") {
				order: 1;
			}
		}

		span:nth-child(2) {
			display: inline-block;
			margin-left: 45px;
			font-family: $DefJaFont;

			@include media("<tablet") {
				margin-left: 0;
				margin-right: 20px;
				order: 0;
			}
		}

		@include media("<tablet") {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}

	.social__list {
		justify-content: center;
		margin-bottom: 40px;

		li {
			&:not(:last-child){
				margin-right: 30px;
			}

			a {
				width: 48px;

				svg {
					path {
						fill: #fff;
					}
				}
			}
		}

		@include media("<tablet") {
			margin-bottom: 20px;
		}
	}

	&-nav {
		&__list {
			justify-content: center;
			margin: 0 0 65px 0;

			li {
				a {
					position: relative;
					color: #fff;
					padding: 15px 0;

					&:after{
						content: '';
						position: absolute;
						bottom: 5px;
						left: 50%;
						transform: scaleX(0) translate(-50%, 0);
						transform-origin: 0 0;
						width: 30px;
						height: 1px;
						background-color: #fff;
						transition: .3s;
					}

					&:hover {
						color: #fff;
						&:after{
							transform: scaleX(1) translate(-50%, 0);
						}
					}

					@include media("<tablet") {
						font-size: 12px;
					}
				}

				@include media("<tablet") {
					&:not(:last-child) {
						margin-right: 20px;
					}
				}
			}

			@include media("<tablet") {
				margin: 0 0 40px 0;
			}
		}
	}

	@include media("<tablet") {
		padding: 25px 0 5px;
	}
}

.copyright {
	font-size: 12px;
	line-height: 1.2;
	color: #fff;
	text-align: center;

	&:not(:last-child) {
		margin-bottom: 5px;
	}

	a {
		color: inherit;
	}
}

.fader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: .3s;

	&_visible {
		visibility: visible;
		opacity: 1;
	}
}

.to-top{
	position: fixed;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	background-color: #929292;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
	z-index: 9;

	&.stick {
		position: absolute;
		top: 0;
		bottom: auto;
		transform: translateY(-100%);
	}

	&:before,
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		width: 50%;
		height: 2px;
		background-color: #fff;
	}

	&:before{
		transform: translate(15%, -50%) rotate(135deg);
	}

	&:after{
		transform: translate(85%, -50%) rotate(-135deg);
	}

	@include media(">tablet"){
		&:hover{
			background-color: #464646;
		}
	}

	&_visible{
		visibility: visible;
		opacity: 1;
	}
}
