.form {
	.section-title {
		margin-bottom: 120px;

		@include media("<tablet"){
			margin-bottom: 20px;
		}
	}

	.mail-to {
		display: inline-block;
		font-size: 18px;
		line-height: 22px;
		color: #464646;
		text-transform: capitalize;
		margin-bottom: 20px;

		@include media("<tablet"){
			margin-bottom: 10px;
			font-size: 12px;
			line-height: 16px;
		}
	}

	&__container {
		max-width: 555px;
		width: 100%;
		margin: 0 auto 100px;

		form {
			label {
				display: block;
			}

			input,
			textarea {
				width: 100%;
				border: none;
				border: 1px solid #464646;
				padding: 20px 15px;
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 10px;

				&::-webkit-input-placeholder {
					color: #868686;
				}

				&:-ms-input-placeholder {
					color: #868686;
				}

				&::-ms-input-placeholder {
					color: #868686;
				}

				&::-moz-placeholder {
					color: #868686;
				}

				&::placeholder {
					color: #868686;
				}

				@include media("<tablet"){
					font-size: 12px;
					line-height: 16px;
					padding: 13px 10px;
				}
			}

			.not-valid{
				border-color: red;
			}

			textarea {
				min-height: 200px;
				resize: none;
				margin-bottom: 45px;

				@include media("<tablet"){
					margin-bottom: 20px;
				}
			}

			.submit-wrapper{
				text-align: right;
			}
		}
	}
}
