.gallery {
	.section-title {
		margin-bottom: 125px;

		@include media("<tablet"){
			margin-bottom: 30px;
		}

	}

	&__content{
		margin-bottom: 40px;

		@include media("<tablet"){
			margin-bottom: 0;
		}
	}

	&__posts {
		display: flex;
		width: 100%;
		align-items: flex-start;

		@include media("<tablet"){
			flex-direction: column;
			align-items: center;
		}
	}

	&__category-list {
		min-width: 195px;
		max-width: 195px;

		li {
			margin-bottom: 15px;
			padding-right: 10px;

			a {
				display: block;
				color: #464646;
				font-size: 24px;
				line-height: 28px;
				font-family: $DefEnFont;
				font-weight: normal;
				padding: 15px 0;

				&:hover {
					font-weight: bold;
				}

				@include media("<tablet"){
					font-size: 15px;
					line-height: 19px;
					padding: 10px 0;
				}
			}

			&:first-child{
				a{
					padding-top: 0;
				}
			}

			.active {
				font-weight: bold;
			}

			@include media("<tablet"){
				width: calc(100% / 4);
				text-align: center;
				padding: 0;
				margin-bottom: 10px;

				&:first-child{
					a{
						padding-top: 10px;
					}
				}
			}
		}

		@include media("<tablet"){
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			min-width: 0;
			max-width: 100%;
			width: 100%;
		}
	}

	&__post {
		margin-bottom: 60px;

		figure {
			max-width: 100%;
			margin: 10px 0 0;

			img {
				display: block;
				max-width: 100%;
				margin-bottom: 30px;

				@include media("<tablet"){
					margin-bottom: 10px;
				}
			}
		}

		figcaption{
			font-size: 18px;
			line-height: 22px;
			color: #464646;
			text-align: right;
			margin-bottom: 5px;

			@include media("<tablet"){
				font-size: 14px;
				line-height: 18px;
			}
		}

		@include media("<tablet"){
			margin-bottom: 30px;
		}
	}
}
