/* header */

.header {
	position: fixed;
	top: -90px;
	left: 0;
	width: 100%;
	background-color: #fff;
	transition: .3s;
	z-index: 9;
	box-shadow: 0 15px 37px -20px rgba(0,0,0,0.75);

	&_visible {
		top: 0;
	}

	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		width: 100%;
		max-width: 1160px;
		padding: 0 10px;
		margin: 0 auto;

		@include media("<tablet") {
			height: 48px;
		}
	}

	.mob-menu {

		&__open {
			display: none;
			position: relative;
			width: 26px;
			height: 16px;

			&:before,
			&:after,
			span {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $dGray;
				transition: .5s;
			}

			&:after {
				top: auto;
				bottom: 0;
			}

			span {
				display: inline-block;
				top: 50%;
				transform: translate(0, -50%);
				background-color: transparent;

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $dGray;
					transition: .5s;
				}
			}

			@include media("<tablet") {
				display: block;
			}
		}

		&__close {
			&:before {
				transform: translateX(100%);
				opacity: 0;
			}

			&:after {
				transform: translateX(-100%);
				opacity: 0;
			}

			span {
				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.social__list {
	position: relative;
	display: flex;
	align-items: center;
	transition: .3s;

	li {
		&:not(:last-child) {
			margin-right: 20px;
		}

		a {
			display: block;
			height: 100%;

			svg {
				vertical-align: middle;
				transition: .3s;
			}

			&:hover {
				@include media(">tablet") {
					svg {
						transform: scale(1.2);
					}
				}
			}
		}
	}

	&_hidden {
		visibility: hidden;
		opacity: 0;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.user-avatar{
	max-width: 100%;

	&__wrapper{
		display: flex;
		align-items: flex-start;
		width: 32px;
		height: 32px !important;
		border-radius: 50%;
		overflow: hidden;
	}
}

li.dropdown-profile{
	& > ul{
		position: absolute;
		bottom: -153px;
		right: 0;
		max-width: 170px;
		background-color: #fff;
		opacity: 0;
		transform: translateY(-20px);
		transition: .3s;
		visibility: hidden;

		li{
			width: 100%;
			border-bottom: 1px solid #ccc;

			a{
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				color: #000;
				text-align: center;
				padding: 10px 15px;

				i{
					margin-left: 5px;
				}
			}
		}

		@include media("<tablet"){
			right: auto;
			left: 0;
			bottom: -137px;
		}
	}

	.active{
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}
}
