.information {
	.section-title{
		margin-bottom: 120px;

		@include media("<tablet"){
			margin-bottom: 30px;
		}
	}

	.mb90{
		margin-bottom: 90px;

		@include media("<tablet"){
			margin-bottom: 25px;
		}
	}

	&__wrapper{
		margin-bottom: 100px;

		@include media("<tablet"){
			margin-bottom: 30px;
		}
	}

	&__post{
		margin-bottom: 5px;

		&_title{
			font-size: 24px;
			line-height: 26px;
			color: #464646;
			margin-bottom: 20px;
			font-weight: bold;
			font-family: 'Roboto', sans-serif;

			@include media("<tablet"){
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 15px;
			}
		}

		&_subtitle{
			font-size: 18px;
			line-height: 22px;
			font-family: 'Roboto', sans-serif;
			color: #464646;
			margin-bottom: 10px;

			@include media("<tablet"){
				font-size: 12px;
				line-height: 16px;
				margin-bottom: 5px;
			}
		}

		&_content{
			display: flex;
			width: 100%;
			align-items: flex-start;
			padding-top: 35px;

			@include media("<tablet"){
				padding-top: 10px;
				flex-direction: column;
			}
		}

		&_img{
			max-width: 360px;
			width: 100%;
			margin-right: 30px;

			img{
				display: block;
				width: 100%;
				max-width: 100%;
			}

			@include media("<tablet"){
				max-width: 100%;
				margin-bottom: 15px;
			}
		}

		&_text{
			font-size: 18px;
			line-height: 22px;
			font-family: 'Roboto', sans-serif;
			color: #464646;
			margin-bottom: 25px;

			@include media("<phone"){
				font-size: 12px;
				margin-bottom: 10px;
			}
		}

		@include media("<tablet"){
			margin-bottom: 15px;
		}
	}
}

.pagination{
	padding-top: 35px;

	&__list{
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0 auto;

		li{
			&:not(:nth-child(2)){
				a{
					display: block;
					position: relative;
					width: 50px;
					height: 50px;
					transition: .3s;

					&:before,
					&:after{
						content: '';
						position: absolute;
						width: 18px;
						height: 2px;
						background-color: #929292;
						transition: .3s;

						@include media("<tablet"){
							width: 40%;
						}
					}

					@include media("<tablet"){
						width: 40px;
						height: 40px;
					}
				}
			}

			&:not(:last-child){
				margin-right: 35px;
			}

			&:nth-child(2){
				max-width: 190px;
				width: 100%;

				a{
					font-size: 14px;
					color: #464646;
					line-height: 18px;
					padding: 15px;
					width: 100%;
					text-align: center;

					@include media("<tablet"){
						padding: 10px;
					}
				}

				@include media("<tablet"){
					max-width: 160px;
				}
			}

			&:first-child{
				a{
					&:before{
						top: 35%;
						transform: translate(80%, 30%) rotate(135deg);

						@include media("<tablet"){
							transform: translate(80%, 30%) rotate(135deg);
						}
					}

					&:after{
						top: 63%;
						transform: translate(80%, 10%) rotate(-135deg);

						@include media("<tablet"){
							transform: translate(80%, 10%) rotate(-135deg);
						}
					}
				}
			}

			&:last-child{
				a{
					&:before{
						top: 35%;
						transform: translate(80%, 20%) rotate(-135deg);

						@include media("<tablet"){
							transform: translate(80%, 20%) rotate(-135deg);
						}
					}

					&:after{
						top: 63%;
						transform: translate(80%,-20%) rotate(135deg);

						@include media("<tablet"){
							transform: translate(80%,-20%) rotate(135deg);
						}
					}
				}
			}

			a{
				display: block;
				height: 100%;
				border: 1px solid #464646;
				box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

				&:hover{
					&:after,
					&:before{
						background-color: #464646;
					}
				}
			}
		}
	}

	@include media("<tablet"){
		padding-top: 35px;
	}
}



