.main-nav,
.footer-nav {
	transition: .3s;

	&__list {
		display: flex;
		height: 100%;
		align-items: center;
		margin-right: 10px;

		li {
			height: 100%;

			&:not(:last-child) {
				margin-right: 80px;
			}

			a {
				display: flex;
				align-items: center;
				height: 100%;
				font-size: 18px;
				line-height: 1.2;
				color: #929292;
				transition: .3s;

				&:hover {
					color: $dGray;
				}
			}
		}
	}
}

.main-nav {
	height: 100%;

	@include media("<tablet") {
		position: absolute;
		top: 100%;
		right: 100vw;
		width: 100%;
		height: calc(100vh - 48px);
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #fff;
		padding-top: 30px;
		z-index: 5;
		transition-timing-function: cubic-bezier(.42, .17, .36, .85);
	}

	&__list{
		@include media("<tablet") {
			flex-direction: column;
			margin-right: 0;
		}

		li{
			&:not(:last-child) {
				@include media("<tablet") {
					margin-right: 0;
				}
			}

			a{
				@include media("<tablet") {
					padding: 25px 40px;
					font-size: 15px;
					color: $dGray;

					&:hover {
						font-weight: 800;
					}
				}
			}

			@include media("<tablet") {
				height: auto;
				width: 100%;
			}
		}
	}

	&_active {
		right: 0;
	}
}
