.profile{
	padding-top: 30px;
	margin-bottom: 100px;

	.section-title{
		margin-bottom: 85px;

		@include media("<tablet"){
			margin-bottom: 25px;
		}
	}

	&__info{
		max-width: 830px;
		width: 100%;
		margin: 0 auto;

		&_item{
			margin-bottom: 45px;

			@include media("<tablet"){
				margin-bottom: 25px;
			}
		}

		&_title{
			font-size: 18px;
			line-height: 22px;
			font-weight: bold;
			margin-bottom: 25px;

			@include media("<tablet"){
				font-size: 14px;
				margin-bottom: 15px;
			}

			&_lg{
				font-size: 24px;
				line-height: 28px;
				font-weight: bold;

				@include media("<tablet"){
					font-size: 18px;
				}
			}
		}

		&_list{
			margin-bottom: 10px;

			li{
				display: flex;
				align-items: flex-start;
				font-size: 18px;
				line-height: 22px;
				color: #464646;
				font-family: $DefEnFont;
				margin-bottom: 10px;

				@include media("<tablet"){
					font-size: 12px;
					line-height: 16px;
				}
			}

			.date{
				display: inline-block;
				min-width: 95px;
				margin-right: 40px;

				@include media("<tablet"){
					min-width: 60px;
					margin-right: 20px;
				}
			}
		}

		&_text{
			font-size: 18px;
			line-height: 22px;
			font-family: $DefEnFont;

			@include media("<tablet"){
				display: none;
			}
		}
	}

	@include media("<tablet"){
		margin-bottom: 30px;
		padding-top: 0;
	}
}
.text-right{
	text-align: right;
}
