.main {
  padding-top: 160px;

  @include media("<tablet") {
    padding-top: 70px;
    margin-bottom: 40px;
  }
}

.img-wrapper {
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

.def-btn {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 160px;
  padding: 15px 5px;
  background-color: transparent;
  border: 1px solid #C4C4C4;
  transition: .3s;
  transform: scale(1);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  color: $dGray;
  //box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.5);

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    height: 40%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
    box-sizing: unset;
  }

  &:after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #000;
    border-right-color: #000;
  }

  &:before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #000;
    border-left-color: #000;
  }

  &_text-left {
    text-align: left;
    padding: 15px 45px 15px 20px;

    span {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 12px;
        border-color: transparent transparent transparent #464646;

        @include media("<tablet") {
          right: 5px;
          border-width: 6px 0 6px 12px;
        }
      }
    }
  }

  &:hover {
    &:after,
    &:before {
      border-bottom-color: #000;
      border-right-color: #000;
      border-top-color: #000;
      border-left-color: #000;
      width: 100%;
      height: 100%;
    }
  }

  @include media("<tablet") {
    padding: 10px 5px;
    min-width: 115px;
  }
}

.section-title {
  margin-bottom: 55px;
  font-size: 36px;
  line-height: 1.2;
  color: $dGray;
  font-weight: 500;

  span {
    display: inline-block;
    margin-left: 20px;
    font-size: 0.5em;

    @include media("<tablet") {
      margin-left: 15px;
    }
  }

  @include media("<tablet") {
    font-size: 24px;
    margin-bottom: 30px;
  }

  &_gray {
    color: #929292;
  }
}

.link-wrapper {
  text-align: center;
}

.top-main {
  position: relative;
  margin-bottom: 55px;
  padding-top: 56.25%;
  height: 0;
  background: url("#{$images}top-main-bg.jpg") 50% 50% no-repeat;
  background-size: cover;

  &_child {
    position: absolute;
    bottom: 14%;
    right: 20%;
    text-align: right;
    padding-left: 20px;

    @include media("<tablet") {
      right: 25px;
      bottom: 95px;
    }
  }

  &__subtitle {
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 20px;

    @include media("<tablet") {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 1.2;
    font-family: $DefJaFont;
    font-weight: 500;
    color: #fff;

    @include media("<tablet") {
      font-size: 24px;
    }
  }

  @include media("<tablet") {
    padding-top: 0;
    height: 100vh;
    margin-bottom: 30px;
  }
}

.gallery {
  &-info {
    margin-bottom: 100px;

    &__link {
      display: inline-block;
      position: relative;
      margin: 0 85px 80px;
      padding: 0 10px;
      font-size: 36px;
      line-height: 1.2;
      color: $dGray;
      background-color: #fff;

      span.arrow {
        position: absolute;
        top: 50%;
        left: -85px;
        width: calc(100% + 170px);
        height: 3px;
        background-color: #C4C4C4;
        transform: translate(0, -50%);
        z-index: -1;

        &:before,
        &:after {
          content: '';
          position: absolute;
          right: -5px;
          bottom: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 20px 0 0 20px;
          border-color: transparent transparent transparent #C4C4C4;
          transition: .3s;
          transition-delay: .2s;

          @include media("<tablet") {
            border-width: 13px 0 0 13px;
          }
        }

        &:before {
          border-width: 10px 0 0 10px;
          border-color: transparent transparent transparent #fff;
          right: 2px;
          bottom: 3px;
          z-index: 7;

          @include media("<tablet") {
            border-width: 6px 0 0 6px;
            bottom: 2px;
            right: 0;
          }
        }

        @include media("<tablet") {
          width: calc(100% + 70px);
          left: -35px;
          height: 2px;
        }
      }

      &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: -85px;
        width: 0;
        height: 3px;
        background-color: $dGray;
        transform: translate(0, -50%);
        transition: .3s;
        z-index: -1;
      }

      &:hover {
        @include media(">tablet") {
          &:after {
            width: calc(100% + 170px);
          }

          span.arrow{
            &:after{
              border-color: transparent transparent transparent $dGray;
            }
          }
        }
      }

      @include media("<tablet") {
        font-size: 18px;
        margin: 0 35px 50px;
        padding: 0 2px;
      }
    }

    .section-title {
      color: #929292;
    }


    @include media("<tablet") {
      margin-bottom: 30px;
    }

    @include media("<tablet") {
      margin-bottom: 30px;
    }
  }
}

.gallery-info__list {
  margin-bottom: 40px;

  li {
    a {
      display: flex;
      width: 100%;
      position: relative;
      padding: 20px 0;
      font-size: 18px;
      line-height: 1.2;
      color: #000;
      font-family: 'Roboto', sans-serif;

      .date {
        display: inline-block;
        min-width: 190px;
        margin-right: 5px;

        @include media("<tablet") {
          min-width: 85px;
        }
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #E5E5E5;
        z-index: 3;
      }

      &:before {
        width: 0;
        z-index: 5;
        background-color: #464646;
        transition: .3s;
      }

      &:hover {
        @include media(">tablet") {
          &:before {
            width: 100%;
          }
        }
      }

      @include media("<tablet") {
        font-size: 12px;
      }
    }
  }

  @include media("<tablet") {
    margin-bottom: 20px;
  }
}

.top-profile {
  background-color: #E5E5E5;
  padding-top: 90px;

  &__info {
    margin-bottom: 100px;
    padding-top: 25px;

    &_item {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 25px;

      @include media("<tablet") {
        margin-bottom: 20px;
      }
    }

    &_img-wrapper {
      position: relative;
      max-width: 165px;
      width: 100%;
      margin-right: 25px;
      overflow: hidden;

      @include media("<tablet") {
        margin-right: 15px;
        max-width: 80px;
      }
    }

    &_padding-hack {
      padding-top: 100%;
      height: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
      }
    }

    @include media("<tablet") {
      margin-bottom: 40px;
      padding-top: 0;
    }
  }

  &_text,
  &_list {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.2;

    @include media("<tablet") {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .link-wrapper {
    @include media("<tablet") {
      text-align: right;
    }
  }

  @include media("<tablet") {
    padding-top: 40px;
  }
}

.top-instagram {
  margin-bottom: 100px;
  padding-top: 90px;

  &__title {
    font-family: $DefEnFont;
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 80px;

    @include media("<tablet") {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  @include media("<tablet") {
    padding-top: 40px;
    margin-bottom: 60px;
  }
}

.instagram__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  li {
    max-width: 150px;
    width: 100%;
    overflow: hidden;

    a {
      display: block;
      position: relative;
      width: 100%;

      img {
        display: block;
        max-width: 100%;
        width: 100%;
        transition: .3s;
      }

      &:hover {
        @include media(">tablet") {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    @include media("<tablet") {
      max-width: calc(100% / 4 - 5px);
    }
  }
}
