{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.tiny.cloud/1/d52u0iubzk3dgz6pfv26pc3k9owvvka7mycypasmpzjfxg55/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            width: '100%',
            height: '900px',
            images_upload_url: "{{ url('artist_admin_ajax_upload') }}",
            plugins: 'image print preview fullpage powerpaste casechange importcss tinydrive searchreplace autolink save directionality advcode visualblocks visualchars fullscreen link media mediaembed template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists checklist wordcount tinymcespellchecker a11ychecker imagetools textpattern noneditable help formatpainter permanentpen pageembed charmap mentions quickbars linkchecker emoticons',
            menubar: 'file edit view insert format tools table tc help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment',
            automatic_uploads: false
        });
    </script>
{% endblock %}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
                        <li class="active">Add new information</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="ui-typography">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 60px;">

                        {{ include("@view.art_admin/forms/Information/add_new_blog_information.html.twig", {'form':addNewInfoForm,'blogPost':blogPost}) }}

                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>

{% endblock %}