{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{#{% block javascripts %}#}

    {#<script src="{{ asset('bundles/fosckeditor/ckeditor.js') }}"></script>#}

{#{% endblock %}#}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
                        <li class="active">Information (Blog) Modify</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="ui-typography">
                <div class="row">
                    <div class="col-md-12" style="padding-bottom: 60px;">
                        {{ include("@view.art_admin/forms/Information/add_new_blog_information.html.twig", {'form':modifyInfoForm, 'blogPost':blogPost}) }}
{#                        {{ form(modifyInfoForm) }}#}
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>

{% endblock %}
