{% extends '@view.art_admin/layouts/dashboard.html.twig' %}

{% block content %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{{ url('artist_admin_homepage') }}">Dashboard</a></li>
                        <li class="active">Information List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="ui-typography">
                <div class="row">
                    <div class="card col-lg-12">
                        <div class="card-header">
                            <strong class="card-title" v-if="headerText">Information</strong>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-hover table-striped table-align-middle show-all-table mb-0">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                    <th>Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for info in blogPosts %}

                                        <tr>
                                            <td>
                                                {{ info.title }}
                                                <br>
                                                <a href="{{ url('artist_information_single', {'slug':info.title}) }}"><span class="fa fa-external-link-square" style="margin-right: 5px;"></span>Post Link</a>
                                            </td>
                                            <td>
                                                {{ info.user.username }}
                                            </td>
                                            <td>
                                                {{ info.createdAt|date('Y年n月j日') }}
                                            </td>
                                            <td>
                                                {{ info.modifiedAt|date('Y年n月j日') }}
                                            </td>
                                            <td class="edit-posts">
                                                <a href="{{ url('artist_admin_information_modify', {'id':info.id}) }}"><span class="fa fa-pencil" style="margin-right: 5px;"></span></a>
                                                <a href="{{ url('artist_admin_information_delete', {'id':info.id}) }}"><span class="fa fa-trash-o"></span></a>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>

{% endblock %}