{% extends '@view.art_admin/layouts/main_admin_layout.html.twig' %}

{% block layout %}

    <aside id="left-panel" class="left-panel">
        {% include('@view.art_admin/aside/left_main_aside.html.twig') %}
    </aside>


    <div id="right-panel" class="right-panel">


        {% include('@view.art_admin/headers/header.html.twig') %}


        {% block content %}{% endblock %}

    </div>

{% endblock %}