<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{{ asset('dashboard/favicon.ico') }}">

    <link rel="stylesheet" href="{{ asset('dashboard/vendors/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dashboard/vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dashboard/vendors/themify-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('dashboard/vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dashboard/vendors/selectFX/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ asset('dashboard/vendors/jqvmap/dist/jqvmap.min.css') }}">

    <link rel="stylesheet" href="{{ asset('dashboard/vendors/wnoty/wnoty.css') }}">

    <link rel="stylesheet" href="{{ asset('dashboard/assets/css/style.css') }}">

    <link rel="stylesheet" href="{{ asset('dashboard/vendors/common/common.css') }}">

    <link rel="stylesheet" href="{{ asset('dashboard/assets/css/additing.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    {% block styles %}{% endblock %}

</head>

<body {% if app.request.attributes.get('_route') == 'artist_admin_login' %}class="bg-dark"{% endif %}>


    {% block layout %}{% endblock %}


<script src="{{ asset('dashboard/vendors/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('dashboard/vendors/popper.js/dist/umd/popper.min.js') }}"></script>
<script src="{{ asset('dashboard/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('dashboard/assets/js/main.js') }}"></script>


<script src="{{ asset('dashboard/vendors/chart.js/dist/Chart.bundle.min.js') }}"></script>
<script src="{{ asset('dashboard/assets/js/dashboard.js') }}"></script>
<script src="{{ asset('dashboard/assets/js/widgets.js') }}"></script>
<script src="{{ asset('dashboard/vendors/jqvmap/dist/jquery.vmap.min.js') }}"></script>
<script src="{{ asset('dashboard/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
<script src="{{ asset('dashboard/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>

<script src="{{ asset('dashboard/vendors/wnoty/wnoty.js') }}"></script>

<script src="{{ asset('custom/js/script.js') }}"></script>

{# sweet alert masages #}
{{ alert.message() }}

{% block javascripts %}{% endblock %}
<script>
    (function($) {

        "use strict";

        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>

</body>

</html>