<form action="{{ form.vars.action }}" method="{{ form.vars.method }}" enctype="multipart/form-data" class="form-horizontal">
    <input type="hidden" value="{{ form._token.vars.value }}" name="{{ form._token.vars.full_name }}">

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="text-input" class=" form-control-label">Old Password</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="password" id="text-input" name="{{ form.oldPassword.vars.full_name }}" value="{{ form.oldPassword.vars.value }}" class="{% if form.oldPassword.vars.errors|length %}is-invalid {% endif %}form-control">
            {% for error in form.oldPassword.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="text-input" class=" form-control-label">New Password</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="password" id="text-input" name="{{ form.newPassword.first.vars.full_name }}" value="{{ form.newPassword.first.vars.value }}" class="{% if form.newPassword.first.vars.errors|length %}is-invalid {% endif %}form-control">
            {% for error in form.newPassword.first.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="text-input" class=" form-control-label">Repeat New Password</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="password" id="text-input" name="{{ form.newPassword.second.vars.full_name }}" value="{{ form.newPassword.second.vars.value }}" class="{% if form.newPassword.first.vars.errors|length %}is-invalid {% endif %}form-control">
            {% for error in form.newPassword.second.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="card-footer" style="padding-left: 0; background-color: inherit;">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Submit
        </button>
    </div>
</form>