<form action="{{ form.vars.action }}" method="{{ form.vars.method }}" enctype="multipart/form-data" class="form-horizontal">
    <input type="hidden" value="{{ form._token.vars.value }}" name="{{ form._token.vars.full_name }}">
    <div class="row form-group">
        <div class="col col-md-3">
            <label for="imgInp" class=" form-control-label">My Logo</label>
        </div>
        <div class="col-12 col-md-9">
            <img style="height: 200px; width: 200px;" id="blah" class="rounded-circle d-block" src="{% if app.user.logo is not empty %}{{ vich_uploader_asset(app.user.logo, 'objFile') }}{% endif %}" alt="Logo">
            <hr>
            <input type="file" id="imgInp" name="{{ form.logo.vars.full_name }}" value="{{ form.logo.vars.value }}" class="form-control-file">
            {% for error in form.logo.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="text-input" class=" form-control-label">User Name</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" id="text-input" name="{{ form.username.vars.full_name }}" value="{{ form.username.vars.value }}" class="{% if form.username.vars.errors|length %}is-invalid {% endif %}form-control">
            {% for error in form.username.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="text-input" class=" form-control-label">Name</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" id="text-input" name="{{ form.name.vars.full_name }}" value="{{ form.name.vars.value }}" class="{% if form.name.vars.errors|length %}is-invalid {% endif %}form-control">
            {% for error in form.name.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="row form-group">
        <div class="col col-md-3">
            <label for="text-input" class=" form-control-label">Surname</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" id="text-input" name="{{ form.surname.vars.full_name }}" value="{{ form.surname.vars.value }}" class="{% if form.surname.vars.errors|length %}is-invalid {% endif %}form-control">
            {% for error in form.surname.vars.errors %}
                <small class="form-text text-muted red-bg">
                    <span class="badge badge-danger">Error</span>
                    {{ error.message }}
                </small>
            {% endfor %}
        </div>
    </div>

    <div class="card-footer" style="padding-left: 0; background-color: inherit;">
        <button type="submit" class="btn btn-primary btn-sm">
            <i class="fa fa-dot-circle-o"></i> Submit
        </button>
    </div>
</form>