
<form name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}">
    <input type="hidden" value="{{ form._token.vars.value }}" name="{{ form._token.vars.full_name }}">
    {% if error is not empty %}
        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
            <span class="badge badge-pill badge-danger">Error</span>
            {{ error.message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endif %}
    <div class="form-group">
        <label>Email address</label>
        <input type="email" name="{{ form.email.vars.full_name }}" value="{{ lastUserName }}" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" value="" name="{{ form.password.vars.full_name }}" class="form-control" placeholder="Password">
    </div>
    <div class="checkbox">
        {#<label>#}
            {#<input type="checkbox"> Remember Me#}
        {#</label>#}
        {#<label class="pull-right">#}
            {#<a href="#">Forgotten Password?</a>#}
        {#</label>#}

    </div>
    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
</form>