{% extends '@view.art/layouts/main_layout.html.twig' %}

{% block content %}

    <main class="main">
        <section class="profile">
            <div class="container">
                <h2 class="section-title section-title_gray">プロフィール <span>Profile</span></h2>

                {% if profileInfo.title is not empty %}

                    <div class="profile__info">
                    <div class="profile__info_item">
                        <h3 class="profile__info_title profile__info_title_lg">{{ profileInfo.title }}</h3>
                    </div>
                    <div class="profile__info_item">
                        {{ profileInfo.informationContent|raw }}
                    </div>
                </div>

                {% endif %}

            </div>
        </section>
    </main>
    <div class="fader"></div>

{% endblock %}

